body{
    background-color: rgb(5, 88, 57);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    font-weight: bold; 
}
.padre{
    border: solid;
    border-color: red;
    padding: 15px;
    width: 90%;
    margin: auto;

}
header{
    text-align: center;
    border: solid;
    border-color: red;
    padding: 10px;
    margin-bottom: 15px;
}
header h1{
    margin: 0;
}
.hijo{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}
.menu{
    border: solid;
    border-color: red;
    width: 25%;
    padding: 15px;
    display: flex;
}
.menu h2{
    text-align: center;
    margin: auto;
}
.menu ul{
    list-style: none;
    padding: 0;
}
.menu li{
    margin-bottom: 10px;
}
.menu a{
    text-decoration: none;
    background-color: grey;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    border: solid;
}
.principal{
    border: solid;
    border-color: red;
    width: 75%;
    padding: 15px;
}
.principal h1{
    text-align: center;
    padding: 10px;
    margin: 0;
}
.cont{
    padding: 20px;
}
footer{
    border: solid;
    border-color: red;
    text-align: center;
    padding: 10px;
}
footer p{
    margin: 0;
}
    