body {
    background-color: rgb(5, 88, 57);
    font-family: 'Arial Black', Arial, sans-serif;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}
.padre {
    max-width: 950px;
    margin: 0 auto;
    border: 5px solid red;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bloque {
    border: 4px solid red;
    padding: 15px;
    text-align: center;
    color: #000000;
}

.bloque h1 {
    margin: 0;
    font-size: 2rem;
    text-transform: uppercase;
}

.bloque h2 {
    margin: 15px 0;
    font-size: 1.3rem;
    text-transform: lowercase;
}

.bloque h2:first-child {
    display: inline;
    font-size: 1.8rem;
    margin-right: 10px;
}
.texto {
    text-align: left;
}

.texto p {
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.enlaces {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
}

.enlaces li {
    display: inline;
    font-size: 1.1rem;
    margin-right: 8px;
}

.enlaces a {
    color: #000000;
    text-decoration: none;
}

.enlaces a:hover {
    text-decoration: underline;
}
p {
    font-family: Arial, sans-serif;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.4;
    margin-bottom: 15px;
}