.cont1{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}
.cont1 img{
    max-width: 320px;
    width: 100%;
    display: block;
}
.html ul{
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 10px;
}
.html li{
    margin-bottom: 10px;
}
.html a{
    color: black;
    text-align: center;
    padding: 10px;
}
table h3{
    color: red;
}
